.terms-list {
	margin: 3em 0 0;
	padding-left: 0;
	list-style: none;
	text-align: center;

	li {
		margin-bottom: 3em;
	}

	li:last-child {
		article {
			margin-bottom: 0;
		}
	}
}

.calendar {
	font-family: 'Nunito Sans', helvetica, arial, sans-serif;
	margin: auto;
	border: none;
	border-radius: 0.75em; // 12/16
	background: white;
	box-sizing: border-box;
	// overflow: hidden;

	button {
		border-radius: 1em;
		width: auto;
	}

	.react-calendar__tile--active {
		box-shadow: 1px 1px 20px 1px black;
	}
}

@media screen and (max-width: 520px) {
	.calendar {
		font-size: 1.15em;
	}
}
